<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="images/snowlock_face_circle.png">
    <title>SnowLock Art</title>
</head>

<body>
    <a name="top-anchor"></a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark centered layout-dark-bg">
        <div class="flex-container col-flex">
            <a class="navbar-brand center-text" style="padding: 0px; margin: 0px;" href="#">
                <span style="font-size: 40px;">S</span><span style="font-size: 30px;">NOWLOCK</span>
                &nbsp;<span style="font-size: 40px;">A</span><span style="font-size: 30px;">RT</span>
            </a>
            <ul class="navbar-nav">
              <li class="center-text">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="center-text">
                <a class="nav-link active" href="#">Portfolio</a>
              </li>
              <li class="center-text">
                <a class="nav-link" href="commission.html">Commission</a>
              </li>
              <li class="center-text">
                <a class="nav-link" href="about.html">About the Artist</a>
              </li>
            </ul>
        </div>
    </nav>

    <div class="page-content">
        <div id="art-user">
            <div class="center-text">
                <br>
                <h1 style="color: var(--primary-2)">Sold by the Artist</h1>
                <h2>Calen Gage Buford</h2>
            </div>
            <div class="flex-container centered display-art">
                <div class="row">
                    
                    
                    
                    <div class="column">
                        <div v-for="art in artPieces1" class="art-piece">
                        
                            <div class="transparent" @click="showModal(art.order)">
                                <img :src="art.path" class="img-portfolio">
                                <div class="art-text">
                                    <h2 class="img-title-text-color">{{art.name}}</h2>
                                    <div class="img-info-text-color">
                                        <div>{{art.date}}&nbsp;&nbsp;~&nbsp;&nbsp;{{art.price}}</div>
                                        <div>{{art.descript}}</div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Modal on click -->
                            <div :id="art.order" class="modal" @click="hideModal(art.order)">
                                <img :src="art.path" class="modal-content modal-img-size">
                            </div>

                        </div>
                    </div>
                    
                    
                    
                    <div class="column">
                        <div v-for="art in artPieces2" class="art-piece">
                            
                            <div class="transparent" @click="showModal(art.order)">
                                <img :src="art.path" class="img-portfolio">
                                <div class="art-text">
                                    <h2 class="img-title-text-color">{{art.name}}</h2>
                                    <div class="img-info-text-color">
                                        <div>{{art.date}}&nbsp;&nbsp;~&nbsp;&nbsp;{{art.price}}</div>
                                        <div>{{art.descript}}</div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Modal on click -->
                            <div :id="art.order" class="modal" @mousedown="hideModal(art.order)">
                                <img :src="art.path" class="modal-content modal-img-size">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="center-text">
                <a href="#top-anchor" class="link-top"><button class="btn btn-md btn-top">Back to top</button></a>
            </div>
        </div>
    </div>
    
    <footer id="sticky-footer" class="footer py-4 bg-dark text-white-50 layout-dark-bg">
        <div class="container text-center">
            <small>Copyright &copy; 2017 SnowLock Art<a href="https://www.instagram.com/snowlock_art/"
                    target="_blank" class="fa fa-instagram"></a>
            </small>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
    <script src="javascripts/user.js"></script>
</body>

</html>
